---
---
@import "bootstrap-sass/assets/stylesheets/bootstrap";

$green: #2A6A2A;
$lightGreen: #4EAF4E;

html, body {
    height: 100%;
}

body {
    background: url("./images/background.png") $green;
}

.wrapper {
    @extend .container;
    background: #fff;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

header {
    h1 {
        text-align: center;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }

    nav {
        text-align: center;
        li {
            display: inline-block;
            padding: 10px 30px;
        }
    }
}

a {
    color: $green;
    &:hover {
        color: $lightGreen;
    }
}

.float-left {
    margin-right: 20px;
    float: left;
}

.clear {
    clear: both;
}


footer {
    p {
        text-align: center;
    }
}
