---
layout: default
title: Association en Pharmacie d'Aide aux Langues Étrangères
---

<section>
    <h2>Présentation</h2>

    <img src="http://lorempixel.com/output/business-q-c-400-250-10.jpg" alt="Some image" class="float-left"/>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium assumenda autem cum
        doloribus, enim ipsam labore molestias nulla, odit porro praesentium quidem soluta tempore veritatis
        vero voluptates. Natus, quo.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aliquam cumque harum in iusto laboriosam minima
        nesciunt non nulla omnis possimus quam, soluta. Eligendi fuga fugiat mollitia non reiciendis veniam!</p>

    <p>Aperiam, commodi cumque dolorem eum expedita facilis harum illum ipsam itaque molestias omnis, placeat, quis rem
        repellendus ullam. Corporis culpa ipsa ipsam iste nobis, odit possimus quibusdam quod soluta sunt.</p>

    <p>Distinctio earum harum in itaque, labore perferendis sed. Alias aliquam autem consequuntur distinctio eaque enim,
        inventore numquam omnis optio provident, rem repellat repellendus suscipit totam velit! Explicabo laudantium
        reiciendis voluptatibus?</p>

    <div class="clear"></div>
</section>

<div class="row">
    <div class="col-md-6">
        <h2>Prochains événements</h2>

        <ul class="events">
            {% for event in site.data.events limit:6 %}
                <li>
                    <strong>{{ event.date | date: "%d/%d/%Y" }}</strong>
                    {{ event.title }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Sur le blog...</h2>

        {% for post in site.posts limit:3 %}
            <h3>
                <strong>{{ post.date | date: "%d/%m/%Y") }} :</strong>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>
            <p>{{ post.excerpt }}</p>
            <p class="read"><a href="{{ post.url }}">Lire l'article &raquo;</a></p>
        {% endfor %}
    </div>
</div>
